<html lang="en">
  <body>
    <div id="elements">
      <div id="carte">
        <iframe
          src="https://maps.google.com/maps?q=versailles&t=&z=13&ie=UTF8&iwloc=&output=embed"
          width="100%"
          height="500"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <div id="recherche">
        <form action="/index" method="post" id="search_form"  autocomplete="off">
          <div class="row">
            <ul style="list-style: none;">
              <li>
                <label class="input_label">Gazole</label>
                <input class="fuel_choice" type="checkbox" name="Gazole" />
              </li>
              <li>
                <label class="input_label">SP95</label>
                <input class="fuel_choice" type="checkbox" name="SP95" />
              </li>
              <li>
                <label class="input_label">SP98</label>
                <input class="fuel_choice" type="checkbox" name="SP98" />
              </li>
              <li>
                <label class="input_label">E85</label>
                <input class="fuel_choice" type="checkbox" name="E85" />
              </li>
              <li>
                <label class="input_label">E10</label>
                <input class="fuel_choice" type="checkbox" name="E10" />
              </li>
              <li>
                <label class="input_label">GPLc</label>
                <input class="fuel_choice" type="checkbox" name="GPLc" />
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="">
              <label class="input_label" for="ville-recherche">Ville</label>
              <div id="ville-recherche-groupe">
                <input
                  type="text"
                  class="ville-search"
                  id="ville-recherche"
                  name="ville-recherche"
                  placeholder="Ville à rechercher..."
                />
                <datalist
                  class="ville-recherche-datalist"
                  id="ville-recherche-results"
                >
                </datalist>
              </div>
              <div class="">
                <label
                  class="input_label"
                  for="departement-recherche"
                >Département</label>
                <div class="autocomplete">
                <input id="input-departement" type="text" name="departement-recherche" placeholder="Département à rechercher...">
                </div>
                <script type="text/javascript" src="/script/autocomplete.js">
                  </script>
                <script>
                  autocomplete(document.getElementById("input-departement"), departements);
                </script>
              </div>
              <input class="fuel_choice" type="submit" value="Rechercher"/>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="tableau">
      <table id="tableau_resultats"  class="result-table">
        <thead>
          <tr>
            <th>
              Stations
            </th>
            {{#if Gazole}}
              <th>
                Gazole
              </th>
            {{/if}}
            {{#if SP98}}
              <th>
                SP98
              </th>
            {{/if}}
            {{#if SP95}}
              <th>
                SP95
              </th>
            {{/if}}
            {{#if E85}}
              <th>
                E85
              </th>
            {{/if}}
            {{#if E10}}
              <th>
                E10
              </th>
            {{/if}}
            {{#if GPLc}}
              <th>
                GPLc
              </th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each address}}
          <tr>
            <td>
              <div class="table-row">
                <div>
                  <strong>
                    {{[1].[0]}}
                  </strong>
                  <br />
                    {{[1].[1]}}
                  <br />
                    {{[1].[2]}}
                </div>
                <div>
                  <input type="button" value="Ajouter aux favoris" />
                  <input type="button" value="Emplacement sur la carte" />
                </div>
              </div>
            </td>
            {{#if ../Gazole}}
            <td>
              {{[2].Gazole}}
            </td>
            {{/if}}
            {{#if ../SP98}}
            <td>
              {{[2].SP98}}
            </td>
            {{/if}}
            {{#if ../SP95}}
            <td>
              {{[2].SP95}}
            </td>
            {{/if}}
            {{#if ../E85}}
            <td>
              {{[2].E85}}
            </td>
            {{/if}}
            {{#if ../E10}}
            <td>
              {{[2].E10}}
            </td>
            {{/if}}
            {{#if ../GPLc}}
            <td>
              {{[2].GPLc}}
            </td>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>